# 🔹 Python
__pycache__/
*.py[cod]
*$py.class

# 🔹 Virtual Environment
.venv/
venv/
env/

# 🔹 Environment variables
.env

# 🔹 Flask
instance/
.webassets-cache

# 🔹 VS Code
.vscode/

# 🔹 PyCharm
.idea/

# 🔹 Mac / Windows system files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log

# 🔹 Database
*.db
*.sqlite3

# 🔹 Docker
*.tar

# 🔹 Build / dist
build/
dist/
*.egg-info/

# 🔹 Cache
.cache/

# 🔹 Jupyter Notebook
.ipynb_checkpoints/

# 🔹 Coverage reports
htmlcov/
.coverage
.coverage.*

# 🔹 Temporary files
*.swp
*.tmp

artifacts

data
catboost_info